/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
body{
  background: green;
}
.white-text{
  /* color: red; */
  
  background: red;
  /* background: red; */



  /* background: red; */
}


*{color: wheat;
background-color: wheat;

}
hr{
  font-size: large;
}

hr,h1{
  color: blueviolet;
}
div > p{
  color: red;
  background-color: black;
}
.box >p{
  color: white;
  background-color: black;
  text-align: center;
  /* text-align: center; */
  /* text-align: center; */
  /* text-align: center; */

  

  /* / */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  ;
}